<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			internalLogFile="Logs/nlog.log"
			internalLogLevel="Warn">

	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<!-- add your targets here -->

		<target xsi:type="File" name="File" fileName="${basedir}/Logs/${logger}_${shortdate}.log"
            layout="${longdate}|${level}|${message}" />

		<target name="Console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${message}"/>

		<target name="DB" xsi:type="DBContextTarget" />
	</targets>

	<rules>
		<!-- add your logging rules here -->

		<logger name="General" minlevel="Trace" writeTo="DB" />
		<logger name="EpisodeDownloadService" minlevel="Trace" writeTo="DB" />
	</rules>
</nlog>